<tr>
  <th scope="row"><%= mining_type.description %></th>
  <td><%= mining_type.description %></td>

  <th scope="row"><%= mining_type.acronym %></th>
  <td><%= mining_type.acronym %></td>
  <td><%= link_to t('links.show'), coin, class:"btn btn-primary" %></td>
</tr>